.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 2px 5px 8px crimson;
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: violet;
    box-shadow: 2px 5px 10px yellow;
    margin-bottom: 10px;
}

.heading_div2{
    font-size: 18px;
    color: steelblue;
}

.result_paratag{
    font-size: 20px;
    box-shadow: 3px 3px 3px gold;
}

.copyrightfooter{
    position: fixed;
    background-color: indigo;
    color: lavender;
    bottom: 0;
    width: 100%;
    font-size: medium;
    text-align: center;
    line-height: 3;
}

canvas{
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 4px 5px 6px mediumturquoise;
    animation: example 4s infinite;
}

@keyframes example{
    from{
        border: 5px solid mediumpurple;
    }
    to{
        border: 5px dashed midnightblue
    }
}